body
{
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.heading
{
font-size: 40px;
width: 100%;
margin: 0px;
}

#status , #number_objects
{
font-size: 25px;
}

canvas
{
    box-shadow: 20px 20px 20px rgb(92, 184, 255);
    border: rgb(92, 184, 255);
    border-radius: 15px;
    border-width: 3px;
}
